// menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right:35px;// positioning from the right
  top:35px;// positioning from the top
  cursor: pointer; //shows the little hand pointer on it
  @include easeOut;

  .btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    @include easeOut;
  }

  // Rotate into x with menu lines
  &.close{
    transform: rotate(180deg);

    // Line 1 - Rotate
    .btn-line{
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
      }
    }
    // second line to disapear
    .btn-line{
      &:nth-child(2){
        opacity: 0;
      }
    }
    // 3rd line to rotate oposite way
    .btn-line{
      &:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }

}
