// menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right:35px;// positioning from the right
  top:35px;// positioning from the top
  cursor: pointer; //shows the little hand pointer on it
  @include easeOut;

  .btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    @include easeOut;
  }
}
