$iceland-part1: url(../img_files/gallery_thumbnails/iceland_part1.jpg);
$iceland-part2: url(../img_files/gallery_thumbnails/iceland_part2.jpg);
$vietnam-part1: url(../img_files/gallery_thumbnails/vietnam_part1.jpg);
$vietnam-part2: url(../img_files/gallery_thumbnails/vietnam_part2.jpg);
$vietnam-part3: url(../img_files/gallery_thumbnails/vietnam_part3.jpg);
$vietnam-part4: url(../img_files/gallery_thumbnails/vietnam_part4.jpg);
$vietnam-part5: url(../img_files/gallery_thumbnails/vietnam_part5.jpg);
$vietnam-part6: url(../img_files/gallery_thumbnails/vietnam_part6.jpg);
$newzealand-part1: url(../img_files/gallery_thumbnails/newzealand_part1.jpg);
$newzealand-part2: url(../img_files/gallery_thumbnails/newzealand_part2.jpg);
$newzealand-part3: url(../img_files/gallery_thumbnails/newzealand_part3.jpg);
$newzealand-part4: url(../img_files/gallery_thumbnails/newzealand_part4.jpg);
$newzealand-part5: url(../img_files/gallery_thumbnails/newzealand_part5.jpg);
$newzealand-part6: url(../img_files/gallery_thumbnails/newzealand_part6.jpg);
$newzealand-part7: url(../img_files/gallery_thumbnails/newzealand_part7.jpg);
$newzealand-part8: url(../img_files/gallery_thumbnails/newzealand_part8.jpg);
$australia-part1: url(../img_files/gallery_thumbnails/australia_part1.jpg);
$australia-part2: url(../img_files/gallery_thumbnails/australia_part2.jpg);
$japan-part1: url(../img_files/gallery_thumbnails/japan_part1.jpg);
$japan-part2: url(../img_files/gallery_thumbnails/japan_part2.jpg);
$japan-part3: url(../img_files/gallery_thumbnails/japan_part3.jpg);
$southkorea-part1: url(../img_files/gallery_thumbnails/southkorea_part1.jpg);
$nepal-part1: url(../img_files/gallery_thumbnails/nepal_part1.jpg);
$nepal-part2: url(../img_files/gallery_thumbnails/nepal_part2.jpg);
$nepal-part3: url(../img_files/gallery_thumbnails/nepal_part3.jpg);
$nepal-part4: url(../img_files/gallery_thumbnails/nepal_part4.jpg);
$india-part1: url(../img_files/gallery_thumbnails/india_part1.jpg);
$india-part2: url(../img_files/gallery_thumbnails/india_part2.jpg);
$india-part3: url(../img_files/gallery_thumbnails/india_part3.jpg);
$india-part4: url(../img_files/gallery_thumbnails/india_part4.jpg);
$singapore-part1: url(../img_files/gallery_thumbnails/singapore_part1.jpg);
$laos-part1: url(../img_files/gallery_thumbnails/laos_part1.jpg);
$laos-part2: url(../img_files/gallery_thumbnails/laos_part2.jpg);
$cambodia-part1: url(../img_files/gallery_thumbnails/cambodia_part1.jpg);


.iceland1{
  background: $iceland-part1;
}
.iceland2{
  background: $iceland-part2;
}
.vietnam1{
  background: $vietnam-part1;
}
.vietnam2{
  background: $vietnam-part2;
}
.newzealand1{
  background: $newzealand-part1;
}
.newzealand2{
  background: $newzealand-part2;
}
.newzealand3{
  background: $newzealand-part3;
}
.newzealand4{
  background: $newzealand-part4;
}
.newzealand5{
  background: $newzealand-part5;
}
.newzealand6{
  background: $newzealand-part6;
}
.newzealand7{
  background: $newzealand-part7;
}
.newzealand8{
  background: $newzealand-part8;
}
.australia1{
  background: $australia-part1;
}
.australia2{
  background: $australia-part2;
}
.japan1{
  background: $japan-part1;
}
.japan2{
  background: $japan-part2;
}
.japan3{
  background: $japan-part3;
}
.southkorea1{
  background: $southkorea-part1;
}
.nepal1{
  background: $nepal-part1;
}
.nepal2{
  background: $nepal-part2;
}
.nepal3{
  background: $nepal-part3;
}
.nepal4{
  background: $nepal-part4;
}
.india1{
  background: $india-part1;
}
.india2{
  background: $india-part2;
}
.india3{
  background: $india-part3;
}
.india4{
  background: $india-part4;
}
.vietnam3{
  background: $vietnam-part3;
}
.singapore{
  background: $singapore-part1;
}
.vietnam4{
  background: $vietnam-part4;
}
.vietnam5{
  background: $vietnam-part5;
}
.vietnam6{
  background: $vietnam-part6;
}
.laos1{
  background: $laos-part1;
}
.laos2{
  background: $laos-part2;
}
.cambodia1{
  background: $cambodia-part1;
}
