@import 'config';
@import 'menu';
@import 'responsive';
@import 'blogconfig';
@import 'thumbnails'; // General styling

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $background-tone;
  color: $font-color-dark;
  height: 100%;
  margin: 0;
  line-height: 1.2;
  font-family: $site-font;
}
// SITE HEADER, FOOTER, P

#page-layout {
  header {
    background-color: $primary-color;
    position: fixed;
    z-index: 2;
    width: 100%;

    h2 {
      font-size: 2rem;
      font-weight: normal;
      padding: 1.5rem;
      color: $font-color-light;
      @include xlScreen {
        font-size: 3rem;
      }
    }
  }

  footer {
    //width: 100%;
    text-align: center;
    background-color: $primary-color;
    padding: 0.5rem;
    font-weight: 100;
    font-size: 0.8rem;
    color: darken($font-color-light, 10%);
  }

  p {
    margin: 0;
    //text-align: justify;
    font-weight: 100;
  }
}
// GENERAL ELEMENT STYLING

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 100;

  &.home-lg-heading {
    font-size: 5rem;
    color: $font-color-light;
    @include smScreen {
      font-size: 3rem;
    }
  }

  &.home-sm-heading {
    color: $font-color-light;
    margin-bottom: 1rem;
    padding: 0.2rem;

    .highlightH2 {
      padding: 0.2rem;
      line-height: 1.49;
      background: rgba(lighten($primary-color, 2), 0.5);
    }
  }

  &.page-heading {
    margin-bottom: 0.5rem;
  }

  &.font-weight-6x {
    font-weight: 600;
  }

  &.font-weight-4x {
    font-weight: 400;
  }

  &.font-weight-2x {
    font-weight: 200;
  }

  &.heading-font-size-lg {
    font-size: 4rem;
  }

  &.heading-font-size-xlg {
    font-size: 5rem;
  }

  &.heading-font-size-md {
    font-size: 2rem;
  }

  &.heading-font-size-sm {
    font-size: 1.2rem;
  }

  &.heading-center {
    text-align: center;
  }

  &.heading-white {
    color: $font-color-light;
  }

  &.no-side-padding {
    padding-left: 0;
  }
}

p {
  text-align: justify;
  line-height: 1.6;
  padding: 0.5rem;
  @include xlScreen{
    font-size: 1.5rem;
  }
}

a {
  color: $font-color-light;
  text-decoration: none;

  &.blog-title-link {
    color: $font-color-dark;
    text-decoration: none;
  }
}
// MISC HELPER EXTRA CLASES

.text-secondary {
  color: $secondary-color;
}

.extra-padding-top {
  padding-top: 1rem;
  @include smScreen {
    padding-top: 0;
  }
}

.truncate {
  width: 250px;
  //white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-buttom-corners {
  border-bottom-right-radius: $box-corner-radius;
  border-bottom-left-radius: $box-corner-radius;
}

.box-color {
  background: $box-background-color;
}

.prev-page-button {
  width: 100%;
  padding-top: 1.1rem;
  padding-left: calc(50% - 22px);

  a {
    color: $font-color-dark;
    text-align: center;
    font-weight: 300;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 1.5rem;
    //padding-left: 50%;
    &:hover {
      color: $font-color-light;
      background: rgba($secondary-color, 0.8);
      @include easeOut;
    }
  }
  @include smScreen {
    //padding-left: calc(50% - 22px);
    padding-bottom: 0.8rem;
  }
}

.text-left {
  text-align: left;
}
// MAIN CONTENT FORMATING

main {
  &#home {
    padding: 4em;
    overflow: hidden;
    height: 100vh;
    text-align: right;
    h1 {
      margin-top: 20vh;
    }
    @include smScreen {
      text-align: center;
    }
    @include xlScreen{
      font-size: 1.5rem;
    }
    @include xxlScreen{
      font-size: 1.9rem;
    }
  }

  &#page-content {
    padding-bottom: 2rem;
    padding-top: 7rem;
    min-height: calc(100vh - 46px);
    @include sidemargins;
    @include smScreen {
      margin-left: 1.3rem;
      margin-right: 1.3rem;
      padding-top: 6.5rem;
      padding-bottom: 0;
      font-size: 0.8rem;
    }
    @include lgScreen {
      margin-left: 4rem;
      margin-right: 4rem;
      text-align: left;
      padding-bottom: 0.5rem;
    }
    @include xlScreen {
      font-size: 1.5rem;
      padding-top: 8rem;
    }
  }
  // Social Media Icons
  .icons {
    margin-top: 1rem;
    /** icon links **/
    a {
      padding: 0.5rem;
      /** SCSS syntax **/
      &:hover {
        color: $secondary-color;
        @include easeOut;
        /** SASS syntax **/
        /** One way of using this, better way to use mixins **/
        /** transition: all 0.5s ease-out; **/
      }
    }
  }

  .fixed-left-side {
    position: fixed;
    top: calc(50% - 96px);
    left: 0;

    a {
      display: block;
      color: $primary-color;
    }
    @include lgScreen {
      position: static;
      margin-top: 0;
      left: 2%;
      font-size: 0.8rem;
      margin-left: calc(50% - 75px);

      a {
        display: inline-block;
      }
    }
    @include smScreen {
      position: static;
      margin-top: 0;
      margin-left: calc(50% - 75px);
      font-size: 0.8rem;

      a {
        display: inline-block;
      }
    }
  }
}

// ABOUT ME PAGE CONTENT
.about-me {
  background-color: $box-background-color;
  @include round-corners;

  h3 {
    padding-left: 0.5rem;
    @include xlScreen{
      font-size: 1.8rem;
    }
  }

  img {
    //max-height: 30vh;
    max-width: 50%;


    &.img1 {
      float: left;
      padding-top: 0.5rem;
      padding-right: 0.8rem;
      //padding-bottom: 0.5rem;
    }

    &.img2 {
      float: right;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  p {
    &.row {
      line-height: 1.5;
      padding: 0.5;
    }
    padding-top: 0;
  }
  @include smScreen {
    h3 {
      font-size: 1rem;
      padding-right: 0.5rem;
    }
  }
  @include lgScreen {
    h3 {
      text-align: left;
    }
  }
  @include xlScreen{
    font-size: 1.5rem;
  }
  @include xxlScreen{
    font-size: 1.8rem;
  }
}
// BLOG PAGE

.blog-gridlayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
  @include smScreen{
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  }
  @include lgScreen{
    grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
  }
  @include xlScreen{
    grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
  }
  @include xxlScreen{
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  }
  //grid-template-areas: 'post sidebar';
  .blog-entry {
    background-color: $box-background-color;
    margin-bottom: 0.5rem;
    @include shadow;
    @include grow;
    @include easeOut;
    @include round-corners;

    .img-box-sm {
      min-height: 30vh;
      padding: 0;
      background-color: $primary-color;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.8;
      border-top-left-radius: $box-corner-radius;
      border-top-right-radius: $box-corner-radius;
    }

    .post-description {
      padding: 0.6rem;

      .post-date {
        color: $font-color-alternative;
        padding-top: 0.2rem;
        padding-left: 0.5rem;
        text-align: center;
      }

      h1 {
        padding-left: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
      }

      p {
        text-align: center;
        font-size: 0.8rem;
      }
      @include xlScreen{
        h1{
          font-size: 1.6rem;
        }
        p{
          font-size: 1rem;
        }
      }
      @include xxlScreen{
        h1{
          font-size: 1.8rem;
        }
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}

// BLOG POST
.blogpost-layout{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  //margin-bottom: 1rem;
  grid-template-areas: 'post sidebar';
  @include smScreen{
    //grid-template-columns: 100%;
    display: block;
  }

  .sidebar {
    grid-area: sidebar;
    .other-posts{
      .other-posts-sections {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        margin-bottom: 1rem;
        color: $font-color-light;

        @include round-corners;
        @include shadow;
        @include fade;
        @include easeOut;
        @include lgScreen {
          h4 {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
        @include smScreen{
          margin-bottom: 0;
        }
      }
      @include smScreen {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 3fr));
        grid-gap: 0.3rem;
        padding: 0.5rem;
        h4{
          font-size: 0.8rem;
        }
      }

    }


  }

  .blogpost {
    grid-area: post;
    font-size: 1rem;
    .img-box-lg {
      .empty-space {
        min-height: 10vh;
      }
      width: 100%;
      min-height: 30vh;
      max-height: 70vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.8;
      border-top-left-radius: $box-corner-radius;
      border-top-right-radius: $box-corner-radius;
      @include smScreen{
        max-height: 35vh;
      }
      .blog-heading {
        padding: 1rem;
        text-align: center;
        background: rgba(lighten($primary-color, 2), 0.5);
        @include smScreen{
          font-size: 1.7rem;
        }
      }
    }
  }
}

// GALLERY PAGE
.gallery-layout {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-gap: 1rem;
  @include smScreen {
    padding-top: 0.5rem;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  }
  @include lgScreen {
    padding-top: 0.5rem;
  }
  @include xlScreen{
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  }

  .thumbnail {
    background-position: center;
    background-size: cover;
    background-color: $box-background-color;

    .gallery-title {
      width: 100%;
      padding-top: 4rem;
      padding-bottom: 4rem;
      text-align: center;
      color: $font-color-light;

      h2 {
        background: rgba(lighten($primary-color, 2), 0.5);
        //min-height: 4rem;
      }

      .lower-heading {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    @include shadow;
    @include round-corners;
    @include easeOut;
    @include grow;
    @include fade;
  }
}

// PHOTOGRAPHY
.photo-layout {
  //min-height: 100vh;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-gap: 0.5rem;
  padding: 0;
  @include smScreen {
    padding-top: 0.5rem;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  }
  //grid: 150px;
  .photo {
    min-width: 5rem;

    img {
      object-fit: cover;
      width: 100%;
      padding: 0;
      @include shadow;
      @include round-corners;
      @include easeOut;
      @include grow;
      @include fade;
    }
  }

  .vertical-img {
    grid-row-end: span 2;
  }
}
