@import 'config';
@import 'menu';
@import 'responsive';

*{
  box-sizing: border-box;
}
/** Look into refactoring the code, a lot of the & are not necessary
and ID and classes in some cases here are not necessary, remove them from
HTML markup and just style the HTML element instead **/
body {
  @include background;
  background: lighten($primary-color, 80%);
  color: white;
  height: 100%;
  margin: 0;
  line-height: 1.2;
  font-family: 'Helvetica', Tahoma, Geneva, sans-serif;
 }

/* Headings */
 h1, h2, h3 {
   margin: 0;
   font-weight: 100;

  /** the & references the class or ID **/
   &.lg-heading {
     font-size: 5rem;
  /** SCSS syntax **/
   }
   &.sm-heading{
     margin-bottom: 1rem;
     padding: 0.2rem;
     .highlightH2{
       padding: 0.2rem;
       background: rgba(lighten($primary-color, 2), 0.5);
     }
   }
   &.page-heading{
     margin-left: 5rem;
   }
 }

 .text-secondary{
   color: $secondary-color;
 }

/* Links (inlcuding icons as they are wrapped in a element)*/
a{
  color: white;
  text-decoration: none;
}
.blog-title{
  padding-left: 0;
}
.blog-text{
  font-size: 1rem;
  font-weight: 100;
  margin-left: auto;
  text-align: justify;
}
header {
  /* fixes the little menu button on the top
  so that even when resizing the page it stays in the corner*/
  position: fixed;
  z-index: 2;
  width: 100%;
}

/** Main section of the page**/
main{
  &#home{
    /** For ID #home in the <main> element to be referenced & has to be used**/
    padding: 4em;
    //border: 1px solid;
    overflow: hidden;
    height: 100vh;
    h1{
      margin-top: 20vh;
    }
  }



  /** This is just a div class so no & used here **/
  .icons {
    margin-top: 1rem;
    /** icon links **/
    a{
      padding: 0.5rem;
      /** SCSS syntax **/
      &:hover{
        color: $secondary-color;

        @include easeOut; /** SASS syntax **/
        /** One way of using this, better way to use mixins **/
        /** transition: all 0.5s ease-out; **/
      }
    }
  }
  .fixed-left-side{
    position: fixed;
    top: 31vh;
    left: 0;
    a{
      display: block;
      color: $primary-color;
    }
  }
}

#theme{
  color: $theme-text-color;

  header{
    background-color: $primary-color;
    h2{
      font-size: 2rem;
      font-weight: normal;
      padding: 1.5rem;
      color: white;
    }
  }
  #page-content{
    padding-top: 7rem;
  }
}

.about-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-row-gap: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
  grid-template-areas:

  'pic1 text1'
  'text2 pic2';
  .about-text-1{
    h3{
      padding-bottom: 8px;
      font-weight: 400;
    }
    grid-area: text1;
    text-align: justify;
    font-weight: 100;

  }
  .about-picture-1{
    grid-area: pic1;
    img{
      width: 100%;
      margin: auto;
      border-color: $secondary-color;
      border-width: thin;
      border-style: solid;
    }
  }
  .about-text-2{
    grid-area: text2;
    text-align: justify;
    font-weight: 100;
  }
  .about-picture-2{
    grid-area: pic2;
    img{
      width: 100%;
      margin: auto;
      border-color: $secondary-color;
      border-width: thin;
      border-style: solid;
    }
  }
}
.footie{
  text-align: center;
  background-color: lighten($primary-color, 15%);
  color: $secondary-color;
  padding: 0.5rem;
}
.blog-gridlayout{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  grid-template-areas:
  'post sidebar';

}

.blog-entries{
  grid-area: post;

  .blog-entry{
    @include shadow;
    article{
      h5{
        margin-top: 0.5rem;
      }
      padding: 0.5rem;
    }
  }
}
.sidebar{
  grid-area: sidebar;
  max-height: 50vh;
  @include shadow;
}
